h1{
  font-family: "GYM";
  font-size: 50px;
}
ion-title{
  font-family: tituloss;
}


ion-menu::part(backdrop) {
    background-color: rgba(24, 21, 24, 0.5);
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
}
.logo img{
    width: 25%;
    height: 25%;
}
.btn{
  width: 100%;
}
//Colores de las paginas
//Color de los inputs
ion-input{
  background-color:#f1d9b0;
}
//fobdo del menu 
ion-toolbar{
  --ion-background-color:#ff9d29;
}
//Fondo de los botones
ion-content button{
  background-color:#ff9d29;
  border-style: none;
}
//el emnu del despliegue
ion-menu ion-content {
  --ion-background-color: #f1d9b0;
}
  
@media (max-width: 600px) {

.btn{
  width: 100%;
}
  .logo img{
    width: 50%;
    height: 50%;
  }
//Inputs del registro
  .formLog ion-input{
  width: 100%;
  border-radius: 10px;
  }

//Escalada de botones 
ion-col button{
  width: 40%;
}

}