<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="text-center">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
      <!--Contenido-->
    <ion-content class="ion-padding">
      <ion-card>
        <ion-row class="text-center">
          <ion-col>
            <ion-button class="circular-button" (click)="users()"><i style="font-size: 300%;" class="fa-solid fa-user"></i></ion-button>
            <h4>Perfil del <br>Usuario</h4>
          </ion-col>
          <ion-col>
            <ion-button class="circular-button"><i style="font-size: 300%;" class="fa-solid fa-file-invoice"></i></ion-button>
            <h4>Generar <br>PDF</h4>
          </ion-col>
        </ion-row>
        <ion-row class="text-center">
          <ion-col>
            <ion-button class="circular-button" (click)="gimMovil()"><i style="font-size: 300%;" class="fa-solid fa-dumbbell"></i></ion-button>
            <h4>GYM en<br>Casa</h4>
          </ion-col>
          <ion-col>
            <ion-button class="circular-button" (click)="genQR()"><i style="font-size: 300%;" class="fa-solid fa-qrcode"></i></ion-button>
            <h4>Generar<br>QR</h4>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
