<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button [routerLink]="['/usuario']"><i style="font-size: 200%;" class="fa-solid fa-house"></i></ion-button>
        </ion-buttons>
        <ion-title class="text-center">Gimnasio Movil</ion-title>
      </ion-toolbar>
    </ion-header>
      <!--Contenido-->
    <ion-content class="ion-padding">
      <div class="text-center">
        <div class="logo">
          <img src="../../assets/icon/MicrosoftTeams-image.png" alt="Logo">
        </div>
        <ion-card>
          <div class="text-center">
            <h4><b>Escane su codigo QR</b></h4>
            <ion-row>
              <ion-col>
                <qrcode [qrdata]="myAngularxQrCode" [width]="250" [errorCorrectionLevel]="'M'"></qrcode>
              </ion-col>
            </ion-row>
          </div>
          <p></p>
        </ion-card>
      </div>
    </ion-content>
  </div>
</ion-app>
