//Colores de las paginas
//Color de los inputs
ion-input{
    background-color:#f1d9b0;
  }
  //fobdo del menu 
  ion-toolbar{
    --ion-background-color:#ff9d29;
  }
  //Fondo de los botones
  ion-content button{
    background-color:#ff9d29;
    border-style: none;
  }

  