<ion-app>
  <!--Menu-->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu de Aministración</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h4>Opciones de administrador</h4>
      <button class="btn btn-primary" [routerLink]="['/administrador']">Administración de clientes</button>
      <p></p>
      <button class="btn btn-primary" [routerLink]="['/registrocliente']">Registro de nuevo cliente</button>
      <p></p>
      <button class="btn btn-primary" [routerLink]="['/pago']">Pago de suscripción</button>
      <p></p>
      <button class="btn btn-primary" (click)="logout()">SIGN OUT</button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="text-center">Pago de suscripción</ion-title>
      </ion-toolbar>
    </ion-header>
      <!--Contenido-->
    <ion-content class="ion-padding">
      <ion-searchbar animated="true" placeholder="Buscar cliente"></ion-searchbar>
      <ion-card>
        <ion-row>
          <ion-col size="5">
            <img src="https://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png" alt="Foto Usuario">
          </ion-col>
          <ion-col class="text-center">
            <p style="font-size: 120%;">Nombre</p>
            <p>Ultimo dia habil: 10-07-2023</p>
            <ion-button fill="clear" (click)="confirmarpago()"><ion-icon style="font-size: 200%;" name="cash-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
