<ion-app>
  <!--Menu-->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu de Aministración</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h4>Opciones de administrador</h4>
      <button class="btn btn-primary" [routerLink]="['/administrador']">Administración de clientes</button>
      <p></p>
      <button class="btn btn-primary" [routerLink]="['/registrocliente']">Registro de nuevo cliente</button>
      <p></p>
      <button class="btn btn-primary" [routerLink]="['/pago']">Pago de suscripción</button>
      <p></p>
      <button class="btn btn-primary" (click)="logout()">SIGN OUT</button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="text-center">Pago de suscripción</ion-title>
      </ion-toolbar>
    </ion-header>
      <!--Contenido-->
    <ion-content class="ion-padding">
      <ion-card>
        <ion-row>
          <ion-col size="5">
            <img src="https://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png" alt="Foto Usuario">
          </ion-col>
          <ion-col>
            <h3>Nombre</h3>
            <h6>Email</h6>
          </ion-col>
        </ion-row>
        <div class="option">
        <ion-row>
          <ion-select label="Seleccione el tipo de suscripción" label-placement="floating" fill="outline">
            <ion-select-option value="DIA">DIA</ion-select-option>
            <ion-select-option value="SEMANA">SEMANAL</ion-select-option>
            <ion-select-option value="MENSUAL">MENSUAL</ion-select-option>
            <ion-select-option value="ANUAL">ANUAL</ion-select-option>
          </ion-select>
        </ion-row>
      </div>
        <p></p>
        <div class="componentes text-center">
          <h6><b>Monto a pagar</b></h6>
          <p><b>$ 00.00</b></p>
          <h6><b>Monto recibido</b></h6>
          <ion-input type="number" label="$ 00.00" label-placement="floating" fill="outline"></ion-input>
          <h6><b>Cambio a entregar</b></h6>
          <p><b>$ 00.00</b></p>
          <h6><b>Ultimo dia habil</b></h6>
          <p><b>00 / 00 / 00</b></p>
          <div class="pago">
          <button class="btn btn-primary">REALIZAR PAGO</button>
        </div>
          <p></p>
        </div>
      </ion-card>
    </ion-content>
  </div>
</ion-app>