<ion-app>
  <!--Menu-->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu de Aministración</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="#f1d9b0">
      <h4>Opciones de administrador</h4>
      <button class="btn btn-primary" [routerLink]="['/administrador']">Administración de clientes</button>
      <p></p>
      <button class="btn btn-primary" [routerLink]="['/registrocliente']">Registro de nuevo cliente</button>
      <p></p>
      <button class="btn btn-primary" [routerLink]="['/pago']">Pago de suscripción</button>
      <p></p>
      <button class="btn btn-primary" (click)="logout()">SIGN OUT</button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="text-center">Administración de Clientes</ion-title>
      </ion-toolbar>
    </ion-header>
      <!--Contenido-->
    <ion-content class="ion-padding">
      <ion-searchbar animated="true" placeholder="Buscar cliente"></ion-searchbar>
      <ion-card>
        <ion-row>
          <ion-col size="5">
            <img src="https://64.media.tumblr.com/7b65e8f2b6523c83f51ceed0a9ec895d/de1307c370c652ec-5f/s400x600/0d3087538dec859cf8a998f409fd54db6c67aaea.jpg" alt="Foto Usuario">
          </ion-col>
          <ion-col>
            <h3>Person</h3>
            <h6>Email</h6>
            <h6>Status</h6>
          </ion-col>
        </ion-row>
        <ion-card-content>Ultimo día hábil: 10-07-2023</ion-card-content>
        <ion-row class="text-center">
          <ion-col>
            <ion-button fill="clear"><ion-icon style="font-size: 200%;" name="document-text-sharp"></ion-icon></ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear"><ion-icon style="font-size: 200%;" name="trash-sharp"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-content>
  </div>
</ion-app>