ion-menu::part(backdrop) {
    background-color: rgba(24, 21, 24, 0.5);
  }
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
}
.btn{
    width: 100%;
}
.tarjetausu{
    display: inline-flex;
}
.actions{
    width: 20%;
}
ion-menu ion-content {
    --ion-background-color: #f1d9b0;
  }
  ion-content button{
    background-color:#ff9d29 ;
    border-style: none;
  }
ion-toolbar{
    --ion-background-color:#ff9d29;
}
ion-searchbar{
    --ion-background-color: #f1d9b0;
}
ion-icon{
    color: black;
}

ion-title{
    color: black;
}
//Modo celular
@media (max-width: 600px){
    
}