ion-menu::part(backdrop) {
    background-color: rgba(24, 21, 24, 0.5);
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(24, 21, 24, 0.5);
}
.logo img{
    width: 25%;
    height: 25%;
}
.btn{
  width: 100%;
  color: white;
}
.timer{
  background-color: gray;
  border-radius: 40%;
  color: white;
}
.content-timer{
  display: inline-flex;
}

@media (max-width: 600px) {
  .logo img{
    width: 50%;
    height: 50%;
  }
}