<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="text-center">
    <div class="logo">
      <img src="../../assets/icon/Gym-Logo-Graphics-1-28.jpg" alt="Logo">
      <h1>POWERFIT GYM</h1>
    </div>
    <form class="formLog">
      <ion-input type="email" label="Email" label-placement="floating" fill="outline"></ion-input>
      <br/>
      <ion-input type="password" label="Password" label-placement="floating" fill="outline"></ion-input>
      <br/>
      <div class="inico">
        <button class="btn btn-primary" type="submit">SING IN</button>
        <p></p>
        <button class="btn btn-primary" (click)="loginGoogle()" type="submit"><ion-icon name="logo-google"></ion-icon> GOOGLE</button>
      </div>
    </form>
  </div>
</ion-content>
