#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

//Estilos propios
.inico input{
  width: 50%;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 10px;
  color: white;
 }

 .logo img{
  width: 25%;
  height: 25%;
 }

 button{
  width: 50%;
}

//Mrecursividad Celular
 @media (max-width: 600px) {
  //Logo
  .logo img{
    width: 70%;
    height: 70%;
  }
  //Titulo de los logos
  
// partes de los inputs 
  .put{
    position: relative;

  }
  .inputsion{
    margin: 20px;
  }
  .formLog ion-input{
  width: 100%;
  border-radius: 10px;
  }

  //Botones de session
  button{
    width: 90%;
  }
}