<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="login text-center">
    <div class="logo">
      <img src="../../assets/icon/MicrosoftTeams-image.png" alt="Logo">
      <h1>POWERFIT GYM</h1>
    </div>
    <div class="form">
    <form class="formLog">
      <div class="put">
        <div class="inputsion">
      <ion-input type="email" label="Email" label-placement="floating" fill="outline"></ion-input>
      <br/>
      <ion-input type="password" label="Password" label-placement="floating" fill="outline"></ion-input>
      <br/>
    </div>
    </div>
      <div class="inico">
        <button class="btn btn-primary" type="submit">INICIAR SESION</button>
        <p></p>
        <button class="btn btn-primary" (click)="loginGoogle()" type="submit"><ion-icon name="logo-google"></ion-icon> GOOGLE</button>
      </div>
    </form>
  </div>
  </div>
</ion-content>
